body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: grey;
    font-family: Verdana, sans-serif;
}

.maindiv {
    width: 300px;
    padding: 20px;
    border: 25px;
    background-color: white;
    color: black;
    text-align: center;
}

